{% extends "library/base.html" %}

{% block body %}
<h2>{{book.title}}</h2>
<h4>{{book.author}}</h4>
<p>{{book.description}}</p>
{% if book.status %}
	<p>Status: Available</p>    
{% else %}
	<p>Status: Not available</p>
{% endif %}
<br><br>
<form action="{% url 'library:edit_book' shelf_id=shelf_id book_id=book.id %}" method="post">
{%csrf_token%}
	<label for="title">Title: </label><br>
	<input name="title" id="title" value="{{book.title}}"><br>
	<label for="author">Author: </label><br>
	<input name="author" id="author" value="{{book.author}}"><br>
	<label for="description">Description: </label><br>
	<textarea name="description" id="description">{{book.description}}</textarea><br>
	<label for="status">Status: </label><br>
	<select id="status" name="status"><br>
		{% if book.status %}
			<option value="0">Not Available</option>
			<option value="1" selected>Available</option>
		{% else %}
			<option value="0" selected>Not Available</option>
			<option value="1">Available</option>	
		{% endif %}	
	</select>
	<input type="submit" value="Edit">
</form>

<form action="{% url 'library:delete_book' shelf_id=shelf_id book_id=book.id %}" method="post">
	{%csrf_token%}
	<input type="submit" value="Delete">
</form>

<br>
<a href="{% url 'library:shelf' shelf_id %}">Back to the shelf</a>
{% endblock %}