{% extends "library/base.html" %}

{% block body %}
{% if shelves %}
<ul>
	{% for shelf in shelves %}
		<li><a href='{% url "library:shelf" shelf.id %}'>{{shelf.id}} - {{shelf.name}}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>Sorry, the library is empty</p>
{% endif %}
{% endblock %}