{% extends "library/base.html" %}

{% block body %}
<h1>{{shelf.name}}</h1>
<ul>
{% for book in books %}
	<li><a href="{% url 'library:book' shelf_id=shelf.id book_id=book.id %}">{{book.title}}</a></li>
{% endfor %}
</ul>
<br>
<form action="{% url 'library:add_book' shelf.id %}" method="post">
{%csrf_token%}
<label for="title">Title: </label><br>
<input name="title" id="title"><br>
<label for="author">Author: </label><br>
<input name="author" id="author"><br>
<label for="description">Description: </label><br>
<textarea name="description" id="description"></textarea><br>
<label for="status">Status: </label><br>
<select id="status" name="status"><br>
	<option value="0">Not Available</option>
	<option value="1" selected>Available</option>
</select>
<input type="submit" value="Add">
</form>
<br>
<br>
<a href="{% url 'library:index' %}">Back to shelves</a>
{% endblock %}